.navbar .container .dropdown {
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.navbar .container .navbar-brand {
  font-family: 'Merienda', sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: #198754;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  cursor: default;
}

.navbar .container svg{
  color: #198754;
}

.collapse .navbar-nav .nav-item a {
  font-size: 18px;
  font-weight: 300;
  color: #333;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.5s;
}

.collapse .navbar-nav .nav-item a:hover {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.nav-item.dropdown .dropdown-menu {
  background-color: #fff;
}

.nav-item.dropdown .dropdown-item {
  color: white;
}

.navbar {
  background-color: #F3DFC9;
}

.navbar .container img {
  border: 1px solid #DCEE8A;
  border-radius: 50%;
  margin-right: 20px;
}